footer {
  text-align: center;
  font-size: small;
  color: white;
  margin-top: 3em;
  padding: .75em;
}

.nav-link {
  margin-right: 3em;
  margin-left: auto;
}

body > p {
  margin: 2em;
  padding: 1em;
  font-size: large;
}

body > .jumbotron {
  color: white;
}

div > .row {
  padding: 1em;
}

nav > .navbar-brand {
  padding-left: 1em;
}

.about-header {
  color: #28B62C;
  margin-left: 1.5em;
}

img {
  width: 250px;
  height: auto;
  margin: .5em;
}

.body-text {
  font-size: large;
  color: #28B62C;
}

@media (max-width: 768px) {
  .nav-item {
    padding-left: 1.25em;
  }
}
